body{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
    background-color: #ffffff;
    font-weight: normal;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.19);
    box-shadow: 0 0 5px rgba(0,0,0,.19);
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
input[type="checkbox"],
    input[type="radio"] {
    display: none;
    outline: none;
}
nav > ul{
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
nav > ul > li:nth-child(1){
   -ms-grid-column: 1;
}
nav > ul > li:nth-child(2){
   -ms-grid-column: 2;
}
nav > ul > li:nth-child(3){
   -ms-grid-column: 3;
}
nav > ul > li:nth-child(4){
   -ms-grid-column: 4;
}
nav > ul > li:nth-child(5){
   -ms-grid-column: 5;
}
#toggle{
    display: none;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    list-style: none;
    color: black;
    font-size: 16px;
    text-decoration: none;
}
nav ul li a:hover{
    color: #81B3D2;
}
.head{
    background: url(../images/background.png) no-repeat ;
    background-position: center center;
    background-size: cover;
}
.head-img{
    max-width: 100%;
    height: 773px;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.head-img > img:nth-child(1){
   -ms-grid-column: 1;
   -ms-grid-row: 2;
   -ms-grid-row-align: end;
}
.head-img > img:nth-child(2){
   -ms-grid-column: 1;
   -ms-grid-row: 4;
   -ms-grid-row-align: end;
}
.head-img > img:nth-child(3){
   -ms-grid-column: 1;
   -ms-grid-row: 6;
}
.head-img > img:nth-child(4){
   -ms-grid-column: 1;
   -ms-grid-row: 8;
   -ms-grid-row-align: end;
}
.head-img img{
    margin: 0 auto;
}
.triangle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 255px;
}
.triangle-bottom{
    border-left: 352px solid white;
    border-right: 352px solid white;
    border-top: 57px solid transparent;
    height: 37px;
    margin: -80px;
    width: 0;
    z-index: 2;
}
.triangle-top{
  width: 0;
  height: 85px;
  border-left: 614px solid white;
  border-right: 586px solid white;
  border-top: 56px solid transparent;
}
main{
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 150px 255px 200px 255px 200px 255px;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 255px 200px 255px 200px 255px;
    grid-template-areas:
    "box-1 box-1 box-1"
    "box-2 box-3 box-3"
    "box-4 box-5 box-6"
    "box-7 box-7 box-8"
    "box-9 box-10 box-11"
    "box-12 box-12 box-12";
}
div.content-block:nth-child(1){
    grid-area: box-1;
    text-align: center;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}
div.content-block:nth-child(2){
    grid-area: box-2;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}
div.content-block:nth-child(3){
    grid-area: box-3;
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
}
div.content-block:nth-child(4){
    grid-area: box-4;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}
div.content-block:nth-child(5){
    grid-area: box-5;
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}
div.content-block:nth-child(6){
    grid-area: box-6;
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}
div.content-block:nth-child(7){
    grid-area: box-7;
    -ms-grid-column: 1;
    -ms-grid-row: 4;
    -ms-grid-column-span: 2;
}
div.content-block:nth-child(8){
    grid-area: box-8;
    -ms-grid-column: 3;
    -ms-grid-row: 4;
}
div.content-block:nth-child(9){
    grid-area: box-9;
    -ms-grid-column: 1;
    -ms-grid-row: 5;
}
div.content-block:nth-child(10){
    grid-area: box-10;
    -ms-grid-column: 2;
    -ms-grid-row: 5;
}
div.content-block:nth-child(11){
    grid-area: box-11;
    -ms-grid-column: 3;
    -ms-grid-row: 5;
}
div.content-block:nth-child(12){
    grid-area: box-12;
    -ms-grid-column: 2;
    -ms-grid-row: 6;
}
main h2,
main h3,
main h4,
main p{
    text-transform: uppercase;
    text-align: center;
}
div.content-block:nth-child(4),
div.content-block:nth-child(5),
div.content-block:nth-child(6){
    text-align: center;
}
.icon{
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: url(../images/sprite.png) no-repeat;
    text-decoration: none;
    font-size: 0;
}
.icon-1{
    width: 75px;
    height: 72px;
    background-position: -169px -35px;
}
.icon-2{
    width: 74px;
    height: 72px;
    background-position: -314px -35px;
}
.icon-3{
    width: 64px;
    height: 72px;
    background-position: -35px -37px;
}
div.content-block:nth-child(12){
    display: -ms-flexbox;
    -ms-flex-direction: column;
    display: grid;
    justify-items: center;
    text-align: center;
}
div.content-block:nth-child(12) > a:nth-child(3){
    padding: 30px 15px;
    width: auto;
    background-color: #766357;
    font-size: 21px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
div.content-block:nth-child(9),
div.content-block:nth-child(10),
div.content-block:nth-child(11){
    background: #EEEEEE;
} 
footer{
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto 30px auto 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
    "box-1 box-1 box-1"
    "box-2 box-3 box-4";
    align-items: center;
}
div.footer-block:nth-child(1){
    grid-area: box-1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-column-span: 3;
}
div.footer-block:nth-child(2){
    grid-area: box-2;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-row-align: center;
}
div.footer-block:nth-child(3){
    grid-area: box-3;
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    -ms-grid-row-align: center;
}
div.footer-block:nth-child(4){
    grid-area: box-4;
    -ms-grid-column: 3;
    -ms-grid-row: 3;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-row-align: start;
}
div.footer-block:nth-child(4) > p:nth-child(1){
    -ms-grid-column: 1;
}
div.footer-block:nth-child(4) > img:nth-child(2){
    -ms-grid-column: 2;
}
div.footer-block:nth-child(2) a{
    color: black;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.social-btn{
    display: inline-flex;
    width: 45px;
    height: 45px;
    background: #81B3D2 url(../images/spritesheet.png) no-repeat;
    text-decoration: none;
    font-size: 0;
    cursor: pointer;
}
.social-btn:hover{
    background-color: #669EC0;
}
.social-btn-tw{
    background-position: -189px -21px;
}
.social-btn-fb{
    background-position: -106px -26px;
}
.social-btn-me{
    background-position: -22px -22px;
} 
@media screen and (max-width:1080px),only screen and (max-device-width:1080px){
.triangle,
.triangle-bottom,
.triangle-top{
  display: none;
}
main {
    grid-template-rows: 150px 230px 200px 230px 200px 255px;
}
}
@media screen and (max-width:1024px),only screen and (max-device-width:1024px){
main {
    grid-template-rows: 150px 220px 200px 220px 200px 255px;
}
div.content-block:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
}
.head-img > img:nth-child(3) {
    -ms-grid-row-align: end;
}
}
@media screen and (max-width:960px),only screen and (max-device-width:960px){
    main {
    grid-template-rows: auto;
}
}
@media screen and (max-width:640px),only screen and (max-device-width:640px){

nav:nth-child(2) > ul:nth-child(1) > li:nth-child(3) > a:nth-child(1){
    display: none;
}
#toggle {
  display: block;
  width: 28px;
  margin: 15px;
}
#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}
#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + nav {
  opacity: 0.9;
  visibility: visible;
}
nav {
  width: auto;
  padding: 10px;
  margin: auto;
  text-align: center;
  border-radius: 4px;
  background: #E2F0F9;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
nav ul {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
}
nav > ul > li:nth-child(1){
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}
nav > ul > li:nth-child(2){
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}
nav > ul > li:nth-child(4){
    -ms-grid-column: 1;
    -ms-grid-row: 5;
}
nav > ul > li:nth-child(5){
    -ms-grid-column: 1;
    -ms-grid-row: 7;
}
.head{
    margin-top: -160px;
}
.head-img{
    height: 70%;
}
main{
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "box-1"
    "box-2"
    "box-3"
    "box-4"
    "box-5"
    "box-6"
    "box-8"
    "box-7"
    "box-9"
    "box-10"
    "box-11"
    "box-12";
}
div.content-block:nth-child(1){
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}
div.content-block:nth-child(2){
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}
div.content-block:nth-child(3){
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}
div.content-block:nth-child(4){
    -ms-grid-column: 1;
    -ms-grid-row: 4;
}
div.content-block:nth-child(5){
    -ms-grid-column: 1;
    -ms-grid-row: 5;
}
div.content-block:nth-child(6){
    -ms-grid-column: 1;
    -ms-grid-row: 6;
}
div.content-block:nth-child(7){
    -ms-grid-column: 1;
    -ms-grid-row: 7;
}
div.content-block:nth-child(8){
    -ms-grid-column: 1;
    -ms-grid-row: 8;
}
div.content-block:nth-child(9){
    -ms-grid-column: 1;
    -ms-grid-row: 9;
}
div.content-block:nth-child(10){
    -ms-grid-column: 1;
    -ms-grid-row: 10;
}
div.content-block:nth-child(11){
    -ms-grid-column: 1;
    -ms-grid-row: 11;
}
div.content-block:nth-child(12){
    -ms-grid-column: 1;
    -ms-grid-row: 12;
}
footer{
    align-content: end;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-template-areas:
    "box-1"
    "box-2"
    "box-3"
    "box-4";
    text-align: center;
}
div.footer-block:nth-child(1){
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}
div.footer-block:nth-child(2){
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}
div.footer-block:nth-child(3){
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}
div.footer-block:nth-child(4){
    -ms-grid-column: 1;
    -ms-grid-row: 6;
}
div.content-block:nth-child(12) > a:nth-child(3) {
    width: auto;
}
div.content-block:nth-child(12) > a:nth-child(3) {
    font-size: 15px;
}
}





